<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - To-Do List</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>