@model TodoList
@{
    ViewData["Title"] = $"Deleting list {Model.Name}";
}

<h1>@ViewData["Title"]</h1>

<p>Are you sure that you want to delete @Html.DisplayFor(m => m.Name)?</p>

<a asp-controller="List" asp-action="Index" asp-route-id="@Model.TodoListId">No</a> -
<a asp-action="DeleteList" asp-route-id="@Model.TodoListId">Yes</a>