@model TodoList
@{
    ViewData["Title"] = $"Editing list {Model.Name}";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="EditList" method="post">
    <input type="hidden" asp-for="TodoListId" />

    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <br />

    <label asp-for="Description"></label>
    <textarea asp-for="Description"></textarea>
    <br />

    <input type="submit" value="Edit" />
</form>