@model IEnumerable<TodoList>
@{
    ViewData["Title"] = "Home";
}

<h1>Practice To-do</h1>

@if (Model.Any())
{
    <ol>
        @foreach (var list in Model)
        {
            <li>
                <a asp-controller="List" asp-action="Index" asp-route-id="@list.TodoListId">
                    @Html.DisplayFor(m => list.Name)
                </a>
            </li>
        }
    </ol>
}
else
{
    <p><i>No lists</i></p>
}

<a asp-controller="List" asp-action="CreateList">Create a list</a>
